var
        config = {
            brandName: 'Tempaw Trunk',
            logoDark: 'logo-dark-200x40.png',
            logoLight: 'logo-light-200x40.png',
            getTemplateLink: '#get-template-link',
            includeLayoutPanel: false
        },
        menu = [
            {
                title: 'Home',
                link: 'index.html'
            },
            { title: 'About' },
            { title: 'Blog' },
            { title: 'Pages' },
            { title: 'Contacts' }
        ];
